*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}
/* header */
.mheader{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i{
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    color: beige;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 10px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
}

.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
}