*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: poppins,sans-serif;
    text-decoration: none;
    background-color: black;
}

body{
    overflow-x: hidden;
}
/* header */
.mheader{
    width: 100%;
    height: 100%;
    min-height: 80vh;
}

.wrapper{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
}

header{
    padding: 40px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.logo i{
    height: 45px;
    width: 45px;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 7px;
    margin-right: 5px;
    text-align: center;
    cursor: pointer;
    border: 3px solid white;
}

.logo .logo-text{
    font-size: 24px;
    font-weight: 500;
    color: white;
}

/* Navigation */
nav .togglebutton{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45px;
    right: 3%;
    z-index: 5;
    cursor: pointer;
    background-color: black;
    display: none;
}

nav .togglebutton span{
    display: block;
    background-color: rgb(255, 255, 255);
    margin: 5px 0px;
    width: 100%;
    height: 2.5px;
    transition: 0.3s;
    transition-property: transform, opacity;
}

nav .navlinks{
    list-style-type: none;
}

nav .navlinks li{
    display: inline-block;   
}

nav .navlinks li a{
    color: white;
    margin-right: 3rem;
}

nav .navlinks li a:hover{
    color: blue;
    transform: rotate(360deg);
}

/*Container*/
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 4rem;
}

/* image */
.container .profileImg{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid blue;
    box-shadow: 1px 3px 10px lightblue;
}

.profileImg img{
    height: 100%;
    width: 100%;
    transition: 0.5s;
}

.profileImg img:hover{
    transform: scale(1.5);
}

/* profileText */

.profileText{
    max-width: 800px;
    display: flex;
    flex-direction: column;
    color: white;
}

.profileText h5{
    font-size: 16px;

}

.profileText h5 span{
    color: rgb(59, 59, 255);

}

.profileText h1{
    color: blue;
    font-size: 3rem;
}

.profileText p{
    color: aliceblue;
}

/*button*/

.button{
    margin: 45px 0;
}

.button .cbutton{
    border-color: white;
    color: white;
    background-color: black;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 1px 3px 10px lightblue;
    margin-right: 15px;

}

.button .dbutton{
    border-color: white;
    color: white;
    background-color: black;
    padding: 12px 25px;
    margin: 5px 0px;
    margin-right: 7px;
    border-radius: 30px;
    border: 2px solid white;
    box-shadow: 1px 3px 10px lightblue;
    margin-right: 15px;
}

.button .cbutton:hover{
    color: blue;
    border-color: blue;
    transition: 0.5s;
}

.button .dbutton:hover{
    color: blue;
    border-color: blue;
    transition: 0.5s;
}

.profileText .social i{
    color: white;
    font-size: 20px;
    margin-right: 15px;
    transition: 0.5s;
}

.profileText .social i:hover{
    color: blue;
    transform: rotate(360deg);
}

/*accordion*/

.accordion{
    max-width:100%;
    margin-left: 130px;
    margin-right: 130px;
}

.accordion .contentBox{
    position: relative;  
    margin: 10px 20px;
}

.accordion .contentBox .label{
    position:relative;
    padding: 10px;
    background-color: blue;
    color: white;
    cursor: pointer;
}

.accordion .contentBox .label::before{
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
}

.accordion .contentBox.active .label::before{
    content: '-';
}

.accordion .contentBox .content{
    position: relative;
    color: aliceblue;
    background-color: black;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;   
}

.accordion .contentBox.active .content{
    height: auto;
    padding: 10px;
}

/*small screen adjestment*/

@media (max-width:930px) {
    nav .togglebutton{
        display: initial;
    }
    .click{
        top: 45px;
    }
    .click span{
        position: absolute;
        margin-top: 12px;
    }
    .click span:first-child{
        transform: rotate(-40deg);
    }
    .click span:nth-child(2){
        opacity: 0;
        margin: 0;
    }
    .click span:last-child{
        transform: rotate(45deg);
        top: 0;
    }
    nav .navlinks{
        position: absolute;
        top: 110px;
        right: -100%;
        bottom: 0;
        width: 60%;
        height: 100vh;
        background-color: black;
        opacity: 90%;
        z-index: 3;
        transition: 0.5s;
        padding: 25px 0px;
    }
    nav .navlinks li{
        display: block;
    }
    nav .navlinks li a{
        display: block;
        margin-bottom: 15px;
        text-align: center;
    }
    nav .navlinks.open{
        right: 0;
    }
}

@media(max-width:930px){
    .container{
        flex-direction: column;
        padding-top: 2rem;
    }
    .profileText{
        padding: 40px 0px;
    }

    .accordion{
        flex-direction: column;
        padding-top: 2rem;
        margin-left: 15px;
        margin-right: 15px;
    }
}

